:root {
    --primeira-cor: #800000;
    --segunda-cor: #f0ebe1;
    --cor-texto: #333333;
    --terceira-cor: #ffffff;
    --cor-icones: #b8860b;
    --cor-fundo: #E9E7E7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    text-align: center;
    justify-content: center;
}

/* ------------------------- Menu Hamburgue ------------ */
#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}


.article-body {
    text-align: justify;
}


.menu {
    background-color: var(--cor-fundo);
    padding: 10px 0;
    text-align: center;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5vw;
}

.icones-iniciais,
.icones {
    display: flex;
    gap: 15px;
    color: var(--cor-icones);
    width: 100px;
    height: 100px;
    font-size: 1.8rem
}




.logo-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    width: 300px;
    height: 300px;

}

.logo-center {
    font-size: 1.5rem;
    margin-top: 5px;
    font-weight: normal;
    letter-spacing: 2px;
}

.inicio {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.inicio {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 330px;
    padding: 70px 0;
    font-size: 2.0rem;
}

.inicio a {
    text-decoration: none;
    color: var(--cor-texto);
    text-transform: uppercase;
}


#banner {
    width: 100%;
    height: 100vh;
    background-image: url('img/fotosite.png');

    background-size: cover;
    background-position: center top;
    margin-bottom: 60px;
}


section {
    padding: 0 5vw;
    margin-bottom: 60px;
    text-align: center;
}

.inicio a:hover {
    color: #b8860b
}

.h1 {
    font-family: serif;
    font-weight: 400;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 330px;
    padding: 150px 0;
    font-size: 3.0rem;
}



.Fotos {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}




.Fotos img {
    border-radius: 20px;
    width: 500px;
    height: 500px;
}



.Nossa-empresa {
    font-family: serif;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 330px;
    padding: 30px 0;
    font-size: 3.0rem;
}

.formulario {
    background-color: #b8860b;
    padding: 10rem;
    margin: 10rem;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}


.formulario input,
.formulario textarea {
    width: 80%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    border: none;

}

.formulario button {
    padding: 0.8rem 1rem;
    border: none;
    background-color: #E9E7E7;
    color: #800000;
    border-radius: 10px;
    cursor: pointer;

}





.Informações {
    justify-content: center;
    gap: 330px;
    padding: 70px 0;
    font-size: 2.0rem;
}

.Informações a {
    text-decoration: none;
    color: var(--cor-texto);
    text-transform: uppercase;
}








.coluna {
  flex: 1;
  min-width: 250px;
}

.coluna.esquerda h2 {
  font-size: 24px;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.logo-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 10px;
}



.icones-redes {
  display: flex;
  gap: 30px;
  width: 30%;
  min-width: 90px;
}

.icones-redes img {
  width: 60px;
  height: 60px;
  background-color: white;
  padding: 6px;
  border-radius: 5px;
}


.rodape {
  background-color: #800000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.coluna {
  flex: 1;
  min-width: 250px;
}

.coluna.esquerda h2 {
  font-size: 24px;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;

}




.coluna.direita .texto-redes {
  margin-bottom: 15px;
  font-size: 30px;
  text-align: right;
  margin-top: 70px;
  margin-right:200px;
}

.icones-redes {
  display: flex;
  gap: 30px;
  float: right;
  width: 200px;
  margin-top: 70px;
  margin-right:200px ;
}

.icones-redes img {

  height: 90px;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  align-items: center;
  max-width: 1700px;
  width: 70%;
  width: 240px;
  display: flex;
  justify-content: space-between;

}




.container {
    position: relative;
    width: 600px;
    height: 300px;
}

.button {
    position: absolute;
    background-color: #d95319;
    color: white;
    font-size: 20px;
    padding: 15px 30px;

    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #c04a16;
}


.top-left {
    top: 20px;
    left: 50px;
}

.top-right {
    top: 20px;
    right: 50px;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-left {
    bottom: 20px;
    left: 50px;
}

.bottom-right {
    bottom: 20px;
    right: 50px;
}









@media screen and (max-width: 1024px) {

    .logo-img {
        width: 160px;
        margin-right: 50px;
    }

    .topo {
        justify-content: space-between;
        align-items: center;
    }

    .icones-iniciais {
        width: 80px;
        margin-right: 50px;}

    .icones {
        width: 80px;
      margin-right: 50px;
    }

   .banner {
        height: 50vh;
    }

    .h1 {
    font-family: serif;
    font-weight: 200;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 320px;
    padding: 150px 0;
    font-size: .0rem;
}


    #empresa {
        flex-direction: column;
        align-items: center;
    }

    .descricao {
        margin-bottom: 100px;
    }

    .descricao,
    .imgs_nh {
        width: 90%;
        max-width: 768px;
    }

    .img_eventos {
        display: none;
    }

    .conteudo_eventos {
        width: 100%;
        align-items: center;
    }

    .card_eventos .texto {
        text-align: center;
    }

    .conteudo_contato form,
    .mapa {
        margin: 0 auto;
    }



    .conteudo_horarios {
        width: 80%;
        max-width: 550px;
    }

}


@media screen and (max-width: 768px) {
    #sombra {
        background-color: #E9E7E7;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

 .logo-img {
        width: 160px;
        margin-right: 50px;
    }

    .topo {
        justify-content: space-between;
        align-items: center;
    }

    .icones-iniciais {
        width: 80px;
        margin-right: 50px;}

    .icones {
        width: 80px;
      margin-right: 50px;
    }

   .banner {
        height: 50vh;
    }


    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }



    #icone-barras {
        display: block;
    }

    nav.inicio {
        /* height: 100vh; */
        width: 200px;
        padding: 0px 60px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

    .inicio a {
        color: #333333;
    }

    .banner {
        background-position: 0 0;
    }



    .icones-redes {
        justify-content: center;
    }

    .icon_redes {
        justify-content: center;
    }

    .conteudo_contato {
        flex-direction: column;
    }



}

@media screen and (max-width: 425px) {
    .banner {
        background-position: -130px 8px;
    }

    .icons {
        display: none;
    }

    .carousel-control-prev {
        left: -35px;
    }

    .carousel-control-next {
        right: -36px;
    }

    .card_livro h3 {
        font-size: 15px;
    }

    .card_livro p {
        font-size: 13px;
    }

    .filter_btn {
        padding: 3px 5px;
        font-size: 15px;
    }

    .titulo {
        font-size: 30px;
    }

    .conteudo_horarios .titulo::after {
        width: 77%;
    }




}

@media screen and (max-width: 320px) {

    nav.inicio {
        width: 280x;
    }

    header img {
        width: 185px;
    }
}

