:root {
    --primeira-cor: #800000;
    --segunda-cor: #f0ebe1;
    --cor-texto: #333333;
    --terceira-cor: #ffffff;
    --cor-icones: #b8860b;
    --cor-fundo: #E9E7E7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    text-align: center;
    justify-content: center;
}


.article-body {
    text-align: justify;
}


.menu {
    background-color: var(--cor-fundo);
    padding: 10px 0;
    text-align: center;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5vw;
}

.icones-iniciais,
.icones {
    display: flex;
    gap: 15px;
    color: var(--cor-icones);
    width: 100px;
    height: 100px;
    font-size: 1.8rem}



    
.logo-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    width: 300px;
    height: 300px;

}

.logo-center  {
    font-size: 1.5rem;
    margin-top: 5px;
    font-weight: normal;
    letter-spacing: 2px;
}

.inicio {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.inicio {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 330px;
    padding: 70px 0;
    font-size: 2.0rem;
}

.inicio a {
    text-decoration: none;
    color: var(--cor-texto);
    text-transform: uppercase;
}


.foto-site{
    width: 100%;
    height: 100vh;
    background-image: url('img/fotosite.png');
    
    background-size: cover;
    background-position: center top;
    margin-bottom: 60px;
}


section {
    padding: 0 5vw;
    margin-bottom: 60px;
    text-align: center;
}

#icone-Barras,
#icone-x,
#menu_botao {
    display: none;
}


.inicio a:hover{
    color:#b8860b
}

h1 {
    font-family: serif; 
    font-weight: 400; 
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 330px;
    padding: 150px 0;
    font-size: 3.0rem;
} 



.Fotos{
   display: flex;
    justify-content: space-between;
    gap: 5px;
}

.Fotos img{
    border-radius: 20px;
    width: 500px;
    height: 500px;
}
   
#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}

.Nossa-empresa{
 font-family: serif; 
    font-weight: 500; 
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 330px;
    padding: 30px 0;
    font-size: 3.0rem;
}
    

    





  



@media screen and (max-width: 768px) {}